# TP n°4 de Bases de Données

## Qst 1 :

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("TP_python_sqlite.db")
cur = conn.cursor()

## Qst 2 :

In [3]:
cur.execute("SELECT * FROM MAGASIN;")

In [4]:
cur.fetchall()

[('Store No. 1',
  '999 Main Street',
  'New York',
  'New York',
  'NY',
  'Jones',
  'Modern'),
 ('Store No. 2',
  '73 Main Street',
  'Chicago',
  'Cook',
  'IL',
  'Smith',
  'Original'),
 ('Store No. 3',
  '1 Main Street',
  'Atlanta',
  'Fulton',
  'GA',
  'Davis',
  'Compact'),
 ('Store No. 4',
  '575 Main Street',
  'Los Angeles',
  'Los Angeles',
  'CA',
  'Johnson',
  'Modern'),
 ('Store No. 5',
  '123 Main Street',
  'San Francisco',
  'San Francisco',
  'CA',
  'Green',
  'Original'),
 ('Store No. 6',
  '353 Main Street',
  'Philadelphia',
  'Philadelphia',
  'PA',
  'Brown',
  'Compact'),
 ('Store No. 7',
  '839 Main Street',
  'Pittsburgh',
  'Allegheny',
  'PA',
  'White',
  'Modern'),
 ('Store No. 8',
  '651 Main Street',
  'New Orleans',
  'Orleans',
  'LA',
  'Williams',
  'Original'),
 ('Store No. 9',
  '912 Main Street',
  'Seattle',
  'King',
  'WA',
  'Stuber',
  'Compact'),
 ('Store No. 10',
  '752 Main Street',
  'Dallas',
  'Dallas',
  'TX',
  'Merz',
  'Modern'),
 ('Store No. 11',
  '55 Main Street',
  'Cincinnati',
  'Hamilton',
  'OH',
  'Erickson',
  'Original'),
 ('Store No. 12',
  '546 Main Street',
  'Minneapolis',
  'Hennepin',
  'MN',
  'Kalman',
  'Compact'),
 ('Store No. 14',
  '968 Main Street',
  'Phoenix',
  'Maricopa',
  'AZ',
  'Strehlo',
  'Original'),
 ('Store No. 15',
  '228 Main Street',
  'Denver',
  'Denver',
  'CO',
  'Ollom',
  'Compact'),
 ('Store No. 16',
  '333 Main Street',
  'St. Louis',
  'St. Louis',
  'MO',
  'Mantle',
  'Modern'),
 ('Store No. 17',
  '764 Main Street',
  'Washington',
  'DC',
  'DC',
  'Mays',
  'Original'),
 ('Store No. 18',
  '253 Main Street',
  'Miami',
  'Dade',
  'FL',
  'Maris',
  'Compact'),
 ('Store No. 19',
  '999 Main Street',
  'Boston',
  'Suffolk',
  'MA',
  'Ruth',
  'Modern'),
 ('Store No. 20',
  '160 Main Street',
  'Nashville',
  'Davidson',
  'TN',
  'Cobb',
  'Original')]

In [5]:
cur.execute("SELECT * FROM MAGASIN;")
cur.fetchone()

('Store No. 1',
 '999 Main Street',
 'New York',
 'New York',
 'NY',
 'Jones',
 'Modern')

## Qst 3

In [6]:
df = pd.read_sql_query("SELECT * FROM MAGASIN", conn)
df

,NOM,ADRESSE,VILLE,COMTE,ETAT,MANAGER,TYPE
0,Store No. 1,999 Main Street,New York,New York,NY,Jones,Modern
1,Store No. 2,73 Main Street,Chicago,Cook,IL,Smith,Original
2,Store No. 3,1 Main Street,Atlanta,Fulton,GA,Davis,Compact
3,Store No. 4,575 Main Street,Los Angeles,Los Angeles,CA,Johnson,Modern
4,Store No. 5,123 Main Street,San Francisco,San Francisco,CA,Green,Original
5,Store No. 6,353 Main Street,Philadelphia,Philadelphia,PA,Brown,Compact
6,Store No. 7,839 Main Street,Pittsburgh,Allegheny,PA,White,Modern
7,Store No. 8,651 Main Street,New Orleans,Orleans,LA,Williams,Original
8,Store No. 9,912 Main Street,Seattle,King,WA,Stuber,Compact
9,Store No. 10,752 Main Street,Dallas,Dallas,TX,Merz,Modern
10,Store No. 11,55 Main Street,Cincinnati,Hamilton,OH,Erickson,Original
11,Store No. 12,546 Main Street,Minneapolis,Hennepin,MN,Kalman,Compact
12,Store No. 14,968 Main Street,Phoenix,Maricopa,AZ,Strehlo,Original
13,Store No. 15,228 Main Street,Denver,Denver,CO,Ollom,Compact
14,Store No. 16,333 Main Street,St. Louis,St. Louis,MO,Mantle,Modern
15,Store No. 17,764 Main Street,Washington,DC,DC,Mays,Original
16,Store No. 18,253 Main Street,Miami,Dade,FL,Maris,Compact
17,Store No. 19,999 Main Street,Boston,Suffolk,MA,Ruth,Modern
18,Store No. 20,160 Main Street,Nashville,Davidson,TN,Cobb,Original

## Qst 4

In [7]:
cur.execute("CREATE TABLE employe (nom  TEXT , age INTEGER, PRIMARY KEY (nom));")

## Qst 5

In [8]:
cur.execute("INSERT INTO employe values ('toto', 25);")

## Qst 6

In [9]:
cur.execute("SELECT * FROM employe;")

In [10]:
cur.fetchall()

[('toto', 25)]

In [11]:
df = pd.read_sql_query("SELECT * FROM employe", conn)
df

    nom  age
0  toto   25

## Qst 7

In [12]:
conn.commit()

## Qst 8

In [13]:
def insert_employe():
    name = str(input("Enter the name of the new employee you wanna insert : "))
    age = int(input("Enter the age of the new employee you wanna insert : "))
    new_value = (name, age)
    commande = "INSERT INTO employe values {};".format(new_value)
    cur.execute(commande)

In [14]:
insert_employe()

Enter the name of the new employee you wanna insert : Olaya
Enter the age of the new employee you wanna insert : 22

## Qst 9

In [15]:
def select_magasin():
    etat = str(input("Enter the name of the state you wanna fetch the magasines in  : "))
    commande = "SELECT * FROM MAGASIN WHERE ETAT = '{}';".format(etat)
    cur.execute(commande)
    return cur.fetchall()

In [16]:
select_magasin()

Enter the name of the state you wanna fetch the magasines in  : CA

[('Store No. 4',
  '575 Main Street',
  'Los Angeles',
  'Los Angeles',
  'CA',
  'Johnson',
  'Modern'),
 ('Store No. 5',
  '123 Main Street',
  'San Francisco',
  'San Francisco',
  'CA',
  'Green',
  'Original')]